<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
</style>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<ul>
    <li><a {% block activehome %}{% endblock %}     href="{% url 'mysite.views.view_home' %}">Home</a></li>
    <li><a {% block activeproject %}{% endblock %}     href="{% url 'mysite.views.view_project' %}">Project</a></li>
    <li><a {% block activeobservatories %}{% endblock %}      href="{% url 'mysite.views.view_observatories' %}">Observatories</a></li>
    <li><a {% block activerainfall %}{% endblock %}      href="{% url 'mysite.views.view_rainfall' %}">Rainfall</a></li>
    <li><a {% block activeupload %}{% endblock %}  href="{% url 'mysite.views.view_upload' %}">Upload</a></li>
    <li><a {% block activedownload %}{% endblock %}    href="{% url 'mysite.views.view_download' %}">Download</a></li>
    {% if user.is_authenticated %}
        <li><a href="{%  url 'logout' %}">Log Out</a></li>
    {% else %}
        <li><a href="{% url 'login' %}">Log In</a></li>
        <li><a Sign In</a></li>
    {% endif %}
</ul>

{% block content %}{% endblock %}

</body>
</html>
