{% extends "base.html" %}

{% block title %}Observatories{% endblock %}
{% block activeobservatories %}class="active"{% endblock %}

{% block content %}
{% load leaflet_tags %}
{% load static %}

{% leaflet_js %}
{% leaflet_css %}
{% leaflet_map "observatories" callback="mapInit" %}

    <link rel="stylesheet" type="text/css" href="{% static 'rain/observatories.css' %}" />
    <script type="text/javascript">

        
        function mapInit(map, options) {

            map.setView([20.65, -103.34], 8);

            //map.locate({setView: true, maxZoom: 10});

            {% for observatory in observatories %}
                var marker = L.marker([{{ observatory.location.y }}, {{ observatory.location.x }}]).addTo(map);
                marker.bindPopup("<b>{{ observatory.name }}</b><br>{{ observatory.about }}");
            {% endfor %}
        };

    </script>
{% endblock %}

