{% extends "base.html" %}

{% block title %}Rainfall{% endblock %}
{% block activerainfall %}class="active"{% endblock %}

{% block content %}
{% load leaflet_tags %}
{% load static %}

{% leaflet_js %}
{% leaflet_css %}
{% leaflet_map "rainfall" callback="mapInit" %}

    <link rel="stylesheet" type="text/css" href="{% static 'rain/rainfall.css' %}"/>
    <script type="text/javascript">
        
        function mapInit(map, options) {

            map.setView([20.65, -103.34], 8);

            map.locate({setView: true, maxZoom: 10});
        };

    </script>

{% endblock %}

