{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <div class="panel-heading">
            <h3 class="panel-title">Please Sign In</h3>
        </div>
    <p class="bs-component">
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password1.label_tag }}</td>
                <td>{{ form.password1 }}</td>
            </tr>
            <tr>
                <td>{{ form.password2.label_tag }}</td>
                <td>{{ form.password2 }}</td>
            </tr>
        </table>
        </p>
        <p class="bs-component">
                <input class="btn btn-success btn-sm" type="submit" value="Register" />
        </p>
    </form>
   {% if form.errors %}
        <p>There was an error during registration. Please try again.</p>
    {% endif %}
{% endblock %}
