{% extends "base.html" %}

{% block title %}Upload{% endblock %}
{% block activeupload %}class="active"{% endblock %}

{% block content %}
    {% if observatories.count == 0 %}
    <p>Please create an observatory</p>
        <a href="{% url 'rain.views.create_observatory' %}">Please create an observatory.</a>
    {% else %}
<p>Press the button to upload a file!</p>
<form action="#" method="get">
    <input type="submit" class="btn btn-primary" value="upload" name="uploadbtn"/>
</form>
<p>
    File must have the following contents
</p>
    {% endif %}
{% endblock %}

