{% extends "base.html" %}

{% block title %}Upload{% endblock %}
{% block activeupload %}class="active"{% endblock %}

{% block content %}
    {% if observatories.count == 0 %}
    <p>Please create an observatory</p>
        <a href="{% url 'rain.views.create_observatory' %}">Please create an observatory.</a>
    {% else %}
<h3>In this section you can upload observations made by your observatory.</h3>
<form action="#" method="get">
    <div class="form-group">
        <label for="sel1">Select observatory</label>
        <select class="form-control" id="sel1">
            {% for obs in observatories %}
            <option>{{ obs.name }}</option>
            {% endfor %}
        </select>
    </div>
    <input type="submit" class="btn btn-default" value="File upload" name="uploadbtn"/>
</form>
<p>
    File example
</p>
    {% endif %}
{% endblock %}

