{% extends "base.html" %}

{% block title %}Rainfall{% endblock %}
{% block activerainfall %}class="active"{% endblock %}

{% block content %}
{% load leaflet_tags %}
{% load static %}

{% leaflet_js %}
{% leaflet_css %}
{% leaflet_map "rainfall" callback="mapInit" %}

    <link rel="stylesheet" type="text/css" href="{% static 'rain/rainfall.css' %}"/>
    <script type="text/javascript">
        
        function mapInit(map, options) {

            map.setView([20.65, -103.34], 8);

            map.locate({setView: true, maxZoom: 10});

            {% for last_measurement in last_measurements %}
                {% if last_measurement %}
                var marker = L.marker([{{ last_measurement.observatory.location.y  }}, {{ last_measurement.observatory.location.x }}]).addTo(map);
                marker.bindPopup("<b>Last rainfall rate: {{ last_measurement.rainfall_rate }}</b>" +
                    "<br>{{ last_measurement.measure_datetime }}" +
                "<br>Observatory: {{ last_measurement.observatory.name }}</br>").openPopup();
                {% endif %}
            {% endfor %}
        };

    </script>
{% endblock %}

